/* rysunek techniczny */
/*animacja malowania pędzlem  */

:root {
    --background-content-color: #f4f4f4;
    --ofert-color: #fba53bd1;
    --line-color: #e2e2e2c2;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}



nav {
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 2.3em;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    z-index: 99;
    transition: background-color 0.2s;
}

.active {
    background-color: rgba(234, 234, 234, 0.7);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--ofert-color);
    -webkit-box-shadow: 0px 7px 13px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 13px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 13px -5px var(--ofert-color);
}

.logo,
.menu,
.tel {
    width: 30%;
}

.textLogo {
    text-align: center;
}

nav .navMenu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navMenu li {
    width: 20%;
    text-align: center;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--ofert-color);
}

.tel i {
    margin-right: 10px;
}

main {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.mainBackground {
    width: 100%;
    height: 100vh;
    background-image: url("./img/tiny.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.mainText {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainText h1 {
    font-size: 6em;
    text-transform: uppercase;
    font-weight: normal;
}

.mainText p {
    color: #ffdb58;
    position: absolute;
    width: 100%;
    margin: 1em 0 0 0;
    font-size: 3em;
}

.mainBtn {
    position: absolute;
    text-align: center;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 15px 0;
    border: solid 2px white;
    cursor: pointer;
}

.mainBtn p {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.triangle-1,
.triangle-2 {
    position: absolute;
    top: 60%;
    width: 30%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.4);
}

.triangle-1 {
    width: 40%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.triangle-2 {
    right: 0;
    width: 40%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


.our-ofert {
    position: relative;
    background-color: var(--background-content-color);
    max-height: 150vh;
}

.shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, var(--background-content-color), transparent);
    width: 100%;
    height: 200px;
}

.ofert-title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.7rem;
    color: var(--ofert-color);
}

.ofert-title h1 {
    font-weight: 500;
}

.ofert-title-line {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 4px;
    background-color: var(--line-color);
    margin-top: 1.4rem;
}

.ofert-title-line::before,
.ofert-title-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--line-color);
    border-radius: 50%;
}

.ofert-title-line::before {
    left: 0;
}

.ofert-title-line::after {
    right: 0;
}

.our-ofert article {
    display: flex;
    font-size: 2rem;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
}

.article-image {
    display: flex;
    align-items: center;
    width: 60%;
    z-index: 2;
}

.left .article-image img,
.right .article-image img,
.border-img {
    width: 85%;
    margin: 1.2rem;
    border-radius: 10px;
}


.right .article-image img {
    margin: 1.2rem 2.2rem 5rem 8rem;
}

/* .left .article-image img,
.border-img {
    width: 85%;
    margin: 1.2rem 2.2rem 5rem 8rem;
    border-radius: 5px;
} */

.box-img {
    position: relative;
    width: 100%;
}

.border-img {
    position: absolute;
    height: 100%;
    border: 2px solid var(--ofert-color);
    z-index: -1;
}

.left .border-img {
    top: 10%;
    left: 10%;
}

.right .border-img {
    top: 10%;
    left: 0%;
    height: 90%;
}

.right .article-content {
    text-align: right;
}

.article-content {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


/* .content-text p {
    border: 1px solid #fba53bd1;
    padding: 2rem;
} */

.article-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.3rem;

}

.icon {
    position: absolute;
    width: 100px;
    z-index: 0;
}

.icon-1 {
    top: 0%;
    left: 15%;
    transform: rotate(-58deg);
}

.icon-2 {
    top: 50%;
    left: 80%;
    transform: rotate(45deg);
}

.icon-3 {
    top: 8%;
    left: 88%;
    transform: rotate(-58deg);
}

.icon-4 {
    top: 55%;
    left: 25%;
    transform: rotate(90deg);
}

.icon-5 {
    top: 90%;
    left: 45%;
    transform: rotate(15deg);
}

.icon-6 {
    top: 30%;
    left: 52%;
    transform: rotate(15deg);
}


.project {
    position: relative;
}

.project-title {
    margin-top: 10rem;
}

.project-text {
    width: 80%;
    margin: 6rem auto 0 auto;
    text-align: justify;
    font-size: 2rem;
}

.slider {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.slide-title,
.slide-text p,
.slide-img img {
    position: relative;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
}

.slide-img img {
    margin-top: 9rem;
}

.slide-title {
    margin-top: 3rem;
    font-size: 2rem;
}

.slide-text p {
    font-size: 2rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.splide__arrow {
    display: block;
    position: absolute;
    top: 40%;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 1px solid var(--ofert-color);
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.btn-left {
    left: 10%;
    transform: rotate(90deg);
}

.btn-right {
    right: 10%;
    transform: rotate(-90deg);
}

footer {
    position: relative;
    width: 100%;
    background-color: var(--background-content-color);
    height: 200px;
}

.content-footer {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
}

.footer-social h3 {
    max-width: 400px;
}